@model IEnumerable<Limak.az.Models.Declaration>

@{
    ViewData["Title"] = "Declarations";
    Layout = "~/Views/Shared/_Layout_areas.cshtml";
}


<div class="table-responsive resizable-table table-bordered w-100">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Mağaza
                </th>
                <th scope="col">
                    Məhsulun növü
                </th>
                <th scope="col">
                    Miqdar
                </th>
                <th scope="col">
                    Məhsulun qiyməti
                </th>
                <th scope="col">
                    Sifarişi izləmə kodu
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th scope="col">
                    Sifarişin verilmə tarixi
                </th>
                <th scope="col">
                    Qeyd
                </th>
                <th scope="col">
                    Çatdırılma qiyməti
                </th>
                <th scope="col">
                    Məhsulun çəkisi
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col">
                    Çatdırılma ofisi
                </th>
                <th scope="col">
                    Müştəri kodu
                </th>
                <th scope="col">
                    Ölkə
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackingCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeclarationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeclarationStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warehouse.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    <div class="d-flex flex-nowrap">
                        <a asp-action="EditDeclaration" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-warning" style="color:white;">Dəyişiklik et</a>
                        <a class="btn btn-secondary mr-1 " asp-action="DeclarationDetails" asp-controller="Home" asp-area="Admin" asp-route-id="@item.Id"><i data-id="@item.Id" class="fas fa-info-circle orderdetailsId"></i></a>
                        <a asp-action="DeleteDeclaration" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger" data-title="Delete" onclick="return confirm('Are you sure you want to delete? This action cannot be undone.');"><i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>

