@model Limak.az.Models.Declaration

@{
    ViewData["Title"] = "DeclarationDetails";
    Layout = "~/Views/Shared/_Layout_areas.cshtml";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Mağaza:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shop)
        </dd>
        <dt class = "col-sm-2">
            Məhsulun növü:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt class = "col-sm-2">
            Məhsulun sayı:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            Məhsulun qiyməti:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            Sifarişi izləmə kodu:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackingCode)
        </dd>
        <dt class = "col-sm-2">
            Link:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            Sifarişin verilmə vaxtı:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclarationDate)
        </dd>
        <dt class = "col-sm-2">
            İnvoys:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            Qeyd:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Çatdırılma qiyməti:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingPrice)
        </dd>
        <dt class = "col-sm-2">
            Məhsulun çəkisi:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductWeight)
        </dd>
        <dt class = "col-sm-2">
            Status:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclarationStatusId)
        </dd>
        <dt class = "col-sm-2">
            Çatdırılma ofisi:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseId)
        </dd>
        <dt class = "col-sm-2">
            Müştəri İD-si:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            Ölkə:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Declarations">Geriyə</a>
</div>
