@model Limak.az.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_Layout_areas.cshtml";
}

<h1>OrderDetails</h1>

<div>
    <h4>OrderViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InlandOrNot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InlandOrNot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
