@model IEnumerable<Limak.az.Models.CustomAppUser>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout_areas.cshtml";
}

<div class="table-responsive resizable-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="UsersDeclarations" asp-controller="Home" asp-route-id="@item.Id">Bəyannamələri</a> |
                    <a asp-action="UsersOrders" asp-controller="Home" asp-route-id="@item.Id">Sifarişləri</a> |
                    <a asp-action="UserDetails" asp-controller="Home" asp-route-id="@item.Id"><i data-id="@item.Id" class="fas fa-info-circle orderdetailsId"></i></a>
                    <a asp-action="DeleteUser" asp-route-id="@item.Id" class="btn btn-danger"
                       data-title="Delete" onclick="return confirm('Are you sure you want to delete? This action cannot be undone.');">İstifadəçini sil</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>